.offer {
    &__list {
        display: flex;
        justify-content: space-evenly;
        height: 234px;
    }

    &__list-text {
        width: 596px;
        height: 234px;
        // margin-left: 32px;
        background: #fed0da;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        margin-bottom: 100px;
    }

    &__list-title {
        margin: 0;
        width: 208px;
        height: 18px;
        padding-top: 30px;
        padding-left: 194px;
        font-family: 'Consolas';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
    }

    &__list-paragraph {
        width: 445px;
        height: 65px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        text-align: center;
        color: #000000;
        padding-left: 75px;
        margin: 0;
    }

    &__list-button {
        display: flex;
        align-items: center;
        width: 192px;
        height: 48px;
        margin-left: 202px;
        margin-top: 33px;
        border: 2px solid #000000;
        border-radius: 999px;
        background: #fed0da;
        margin-bottom: 40px;
    }
    &__list-tell-more {
        // width: 119px;
        height: 25px;
        margin-top: 13px;
        margin-left: 26px;
        margin-right: 6px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
    }
    &__list-tell-more:hover {
        cursor: pointer;
    }
    &__list-arrow {
        margin-left: 6px;
    }
    &__list-arrow:hover {
        cursor: pointer;
    }
}
