@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    src: local('Segoe UI'), url('/fonts/Segoe UI.woff2') format('woff2');
    src: local('Segoe UI'), url('/fonts/Segoe UI.woff') format('woff');
}
@font-face {
    font-family: 'Georgia_bolditalic';
    font-style: normal;
    font-weight: 400;
    src: local('Georgia_bolditalic'),
        url('/fonts/georgia_bolditalic.woff') format('woff');
    src: local('Georgia_bolditalic'),
        url('/fonts/georgia_bolditalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: local('Georgia'), url('/fonts/georgia.woff') format('woff');
    src: local('Georgia'), url('/fonts/georgia.woff2') format('woff2');
}
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    src: local('Consolas'), url('/fonts/consolas.woff') format('woff');
    src: local('Consolas'), url('/fonts/consolas.woff2') format('woff2');
}

body {
    font-family: 'Segoe UI';
    font-style: normal;
    margin: 0;
    width: 1280px;
    margin: 0 auto;
}

// ! 1 Header and Menu

.header {
    height: 88px;
    border-bottom: 2px solid #1e1e1e;
    display: flex;
    &__logo {
        // position: absolute;
        width: 142px;
        height: 69px;
        padding-top: 16px;
        padding-left: 32px;
    }
    &__menu {
        padding-left: 398px;
        padding-top: 32px;
    }
    &__menu-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        padding-left: 32px;
        text-decoration: none;
        color: #000000;
    }
    menu-link:link {
        color: #000000;
    }
    menu-link:active {
        color: #000000;
    }
    a:hover {
        color: #000000;
    }
}

// ! 2 Animation Block

.animation__block {
    display: flex;
    background: #7c44f1;
    height: 800px;
    .animation-title {
        animation: animTitle 1s ease 0s 1 normal forwards;
        margin-top: 271px;
        margin-left: 32px;
        font-weight: 400;
        font-size: 104px;
        line-height: 104px;
        color: #fed0da;
        margin-bottom: 0;
    }
    .animation__paragraph {
        animation: animTitle 1s ease 0s 3 normal forwards;
        margin: 0;
        margin-left: 32px;
        margin-top: 34px;
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        color: #ffffff;
    }

    .animation__paragraph-bottom {
        animation: animTitle 1s ease 0s 2 normal forwards;
        margin: 0;
        margin-left: 32px;
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        color: #ffffff;
        .animation__paragraph-span {
            animation: animTitle 2s ease 0s 1 normal forwards;
        }
    }
    .animation {
        &__image {
            animation: animPhoto 1s ease 0s 1 normal forwards;
        }

        &__image-one {
            position: absolute;
            width: 268px;
            height: 315px;
            padding-left: 269px;
            padding-top: 290px;
            border-radius: 2px;
        }

        &__image-two {
            position: absolute;
            width: 263px;
            height: 311px;
            padding-left: 90px;
            padding-top: 479px;
            border-radius: 2px;
        }
    }
}

// ! 3 Animation botttom item

.animated {
    &__list {
        height: 98px;
        background: #ffffff;
    }

    &__list-image1 {
        animation: animList 1s ease 0s 1 normal forwards;
        width: 161px;
        height: 95px;
        margin-left: 25px;
    }

    &__list-image2 {
        animation: animList 1s ease 0s 1 normal forwards;
        width: 180px;
        height: 95px;
        margin-left: 48px;
    }

    &__list-image3 {
        animation: animList 1s ease 0s 1 normal forwards;
        width: 152px;
        height: 95px;
        margin-left: 48px;
    }

    &__list-image4 {
        animation: animList 1s ease 0s 1 normal forwards;
        width: 159px;
        height: 95px;
        margin-left: 48px;
    }

    &__list-image5 {
        animation: animList 1s ease 0s 1 normal forwards;
        width: 146px;
        height: 95px;
        margin-left: 48px;
    }

    &__list-image6 {
        animation: animList 1s ease 0s 1 normal forwards;
        width: 174px;
        height: 95px;
        margin-left: 48px;
    }
}

// ! Staff block

.staff__company {
    background: #7c44f1;
    height: 800px;
    color: #000000;
    margin: 0;
    .staff__company-title {
        padding-left: 32px;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        padding-top: 35px;
        padding-bottom: 25px;
        margin: 0;
    }
    .staff__company-paragraf {
        height: 65px;
        font-size: 50px;
        padding-left: 29px;
        line-height: 65px;
        font-weight: 400;
        margin: 0;
    }
    .staff__company-sam {
        display: flex;
        .staff__company-background {
            width: 195px;
            height: 258px;
            margin-top: 143px;
            margin-left: 29px;
            background: #ffffff;
            box-shadow: 3px 3px 5.88px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }
    }
    .sam-photo {
        width: 179px;
        height: 219px;
        margin: 8px;
        border-radius: 2px;
    }
    .about__staff {
        .name {
            width: 107px;
            height: 65px;
            padding-left: 15px;
            font-weight: 400;
            font-size: 50px;
            line-height: 65px;
            color: #fed0da;
            padding-top: 143px;
            margin: 0;
        }
        .job {
            font-family: 'Georgia';
            width: 382px;
            height: 89px;
            font-style: normal;
            font-weight: 400;
            padding-left: 15px;
            padding-top: 1px;
            font-size: 34px;
            line-height: 44px;
            color: #fed0da;
            margin: 0;
        }
        .about__staff-buttom {
            display: flex;
            align-items: center;
            background: #7c44f1;
            width: 145px;
            height: 30px;
            margin-left: 15px;
            margin-top: 54px;
            border: 2px solid #ffffff;
            border-radius: 999px;
        }
        .linked {
            display: flex;
            align-items: center;
            padding-left: 25px;
            padding-top: 2px;
            width: 80px;
            height: 25px;
        }
        .arrow1 {
            padding-right: 28px;
        }
    }
}

// ! Offer List block

.offer {
    &__list {
        display: flex;
        justify-content: space-evenly;
        height: 234px;
    }

    &__list-text {
        width: 596px;
        height: 234px;
        // margin-left: 32px;
        background: #fed0da;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        margin-bottom: 100px;
    }

    &__list-title {
        margin: 0;
        width: 208px;
        height: 18px;
        padding-top: 30px;
        padding-left: 194px;
        font-family: 'Consolas';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
    }

    &__list-paragraph {
        width: 445px;
        height: 65px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        text-align: center;
        color: #000000;
        padding-left: 75px;
        margin: 0;
    }

    &__list-button {
        display: flex;
        align-items: center;
        width: 192px;
        height: 48px;
        margin-left: 202px;
        margin-top: 33px;
        border: 2px solid #000000;
        border-radius: 999px;
        background: #fed0da;
        margin-bottom: 40px;
    }
}
.tell-more {
    width: 119px;
    height: 25px;
    margin-top: 13px;
    margin-left: 26px;
    margin-right: 6px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

// ! Support Bloom

.bloom {
    &__support {
        margin: 0;
        width: 986px;
        height: 195px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        color: #000000;
        padding-top: 161px;
        padding-left: 32px;
        margin: 0;
    }
    &__support-text {
        margin: 0;
    }
}

// ! VP PRODUCT

.vp {
    position: absolute;
    &__product {
        width: 1216px;
        height: 562px;
        margin-left: 34px;
        margin-top: 101px;
        background: #f8f8f6;
        border-radius: 32px;
        position: absolute;
    }
    &__product-image {
        position: absolute;
        width: 352px;
        height: 459px;
        left: 852px;
        top: 51px;
        background: #ffffff;
        box-shadow: 3px 3px 5.88px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
    }
    &__product-photo {
        position: absolute;
        width: 322px;
        height: 391px;
        left: 16px;
        top: 14px;
        border-radius: 2px;
    }
}
.title {
    margin: 0;
    padding-top: 39px;
    padding-left: 40px;
}

.subtitle {
    margin: 0;
    // width: 133px;
    height: 36px;
    padding-left: 40px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.subtitle-paragraph {
    width: 459px;
    height: 36px;
    margin: 0;
    padding-left: 40px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.paragraph {
    margin: 0;
    width: 706px;
    height: 78px;
    padding-left: 40px;
    padding-top: 33px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.button {
    &__product {
        box-sizing: border-box;
        width: 125px;
        height: 48px;
        margin-left: 40px;
        margin-top: 40px;
        background: #7c44f1;
        border: 2px solid #7c44f1;
        border-radius: 8px;
        text-align: center;
        color: #ffffff;
    }

    &__engineering {
        box-sizing: border-box;
        width: 160px;
        height: 48px;
        margin-left: 13px;
        margin-top: 40px;
        border: 2px solid #7c44f1;
        border-radius: 8px;
        text-align: center;
    }
}
.vp__company {
    // position: absolute;
    width: 149px;
    height: 84px;
    margin-left: 40px;
    margin-top: 80px;
    background: url(.png);
    border-radius: 0px;
}

// ! Animation
@keyframes animPhoto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes animTitle {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animList {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}
