@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), url("/fonts/Segoe UI.woff2") format("woff2");
  src: local("Segoe UI"), url("/fonts/Segoe UI.woff") format("woff");
}
@font-face {
  font-family: "Georgia_bolditalic";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia_bolditalic"), url("/fonts/georgia_bolditalic.woff") format("woff");
  src: local("Georgia_bolditalic"), url("/fonts/georgia_bolditalic.woff2") format("woff2");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("/fonts/georgia.woff") format("woff");
  src: local("Georgia"), url("/fonts/georgia.woff2") format("woff2");
}
@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: 400;
  src: local("Consolas"), url("/fonts/consolas.woff") format("woff");
  src: local("Consolas"), url("/fonts/consolas.woff2") format("woff2");
}
body {
  font-family: "Segoe UI";
  font-style: normal;
  margin: 0;
  width: 1280px;
  margin: 0 auto;
}

.header {
  height: 88px;
  border-bottom: 2px solid #1e1e1e;
  display: flex;
}
.header__logo {
  width: 142px;
  height: 69px;
  padding-top: 16px;
  padding-left: 32px;
}
.header__menu {
  padding-left: 398px;
  padding-top: 32px;
}
.header__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 32px;
  text-decoration: none;
  color: #000000;
}
.header menu-link:link {
  color: #000000;
}
.header menu-link:active {
  color: #000000;
}
.header a:hover {
  color: #000000;
}

.animation__block {
  display: flex;
  background: #7c44f1;
  height: 800px;
}
.animation__block .animation-title {
  -webkit-animation: animTitle 1s ease 0s 1 normal forwards;
          animation: animTitle 1s ease 0s 1 normal forwards;
  margin-top: 271px;
  margin-left: 32px;
  font-weight: 400;
  font-size: 104px;
  line-height: 104px;
  color: #fed0da;
  margin-bottom: 0;
}
.animation__block .animation__paragraph {
  -webkit-animation: animTitle 1s ease 0s 3 normal forwards;
          animation: animTitle 1s ease 0s 3 normal forwards;
  margin: 0;
  margin-left: 32px;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  color: #ffffff;
}
.animation__block .animation__paragraph-bottom {
  -webkit-animation: animTitle 1s ease 0s 2 normal forwards;
          animation: animTitle 1s ease 0s 2 normal forwards;
  margin: 0;
  margin-left: 32px;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  color: #ffffff;
}
.animation__block .animation__paragraph-bottom .animation__paragraph-span {
  -webkit-animation: animTitle 2s ease 0s 1 normal forwards;
          animation: animTitle 2s ease 0s 1 normal forwards;
}
.animation__block .animation__image {
  -webkit-animation: animPhoto 1s ease 0s 1 normal forwards;
          animation: animPhoto 1s ease 0s 1 normal forwards;
}
.animation__block .animation__image-one {
  position: absolute;
  width: 268px;
  height: 315px;
  padding-left: 269px;
  padding-top: 290px;
  border-radius: 2px;
}
.animation__block .animation__image-two {
  position: absolute;
  width: 263px;
  height: 311px;
  padding-left: 90px;
  padding-top: 479px;
  border-radius: 2px;
}

@-webkit-keyframes animPhoto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animPhoto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animTitle {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animTitle {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */